<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="/assets/images/avatar.png" type="">
		<title>PancyBot</title>
		<meta name="application-name" content="PancyBot"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Un bot de discord multifuncional con funciones muy utiles"/>
		<meta name="author" content="ElTurbinal"/>
		<meta name="keywords" content="discord-bot, pancybot, pancy, discordapi, bot, pancybotwebsite"/>
		<meta name="google-site-verification" content="PUWswzt7coCvz52M3NWJxKSkCo4638uE5kWdp9-oC6o" />
	</head>
	<div>
		<header>
			<link rel="stylesheet" href="/assets/styles/landingpage.css">
			<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=Knewave&display=swap" rel="stylesheet">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<h1>PancyBot</h1>
			<img class="avatar" src="/assets/images/avatar.png" alt="Bot Avatar" >
			<h3>Un bot multifuncional con Moderacion, Utilidad, Copias de seguridad y Proteccion</h3>
			<p class="description">• Soy un bot bastante completo, con múltiples funciones y aplicaciones.</p>
		</header>
		<body>
			<div class="buttons">
				<button class="btn" onclick="location.href = 'https://pancybot.ga/commands'">Comandos</button>
				<button class="btn" onclick="location.href = 'https://discord.com/oauth2/authorize?client_id=801873281975975968&scope=bot&permissions=8'">Invitacion</button>
				<button class="btn" onclick="location.href = 'https://discord.gg/WBTdyQSeqd'">Soporte</button>
				<button class="btn" onclick="location.href = 'https://pancybot.ga/dashboard'">Dashboard</button>
			</div>
		</body
		<footer>
				<h3>Servidores <%= botinfo.guilds %>, Usuarios <%= botinfo.users %>, Canales <%= botinfo.channels %> </h3> 
		        
				<h4 class="owner">Desarrollado por "El Turbinas"<h4>
				<h4 class="copyright">Copyright © 2020 - 2022<h4>
		</footer>
	</div>
	
	<script src="https://9mg7wxgbpvc1.statuspage.io/embed/script.js"></script>
</html>